# Core functionality - changes here should be rare!
/src/app.py                   @Engeniusam
/src/backend/database.py      @Engeniusam
/src/backend/routers/auth.py  @Engeniusam

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Engeniusam
